build/about.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>About</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1>About</h1>
              <div class="page-path-module">
                <ul class="page-list clearfix">
                  <li class="active"><span class="text-uppercase link-path">julie</span></li>
                  <li><a href="" target="" class="text-uppercase link-path">custom rugs</a></li>
                </ul>
              </div>
              <div class="state">
                <div class="picture"><img src="http://www.juliedasherrugs.com/images/craftsmanchip.png" alt="" class="img-responsive"></div>
                <div class="state-part">
                  <p class="state-text">Julie Dasher, our Founder and Lead Designer, has a passion for rug design. Her evolution as a designer began as a fascination with textiles at an early age. Beginning with quilt making and the weaving arts, her interests later evolved into a love of artisan rugs and the exquisite and stunning designs that come to life in Tibetan and New Zealand wool and Chinese silk with the weavers in Nepal and India.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">Julie receives her inspirations from a variety of places including nature, her extensive designer fabric collection and her children. Julie and her family adopted their daughter, Lily, from Korea and Julie's love of Asian art has grown over those years.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">Formal design training from the Rhodec School in London, as well as her innate creative talents and interest in interior design as an art, have helped in her design journey. Julie's education includes a BS from the University of Virginia and an MBA and MA from Northwestern University.</p>
                </div>
                <div class="path-holder"><a href="" class="state-path">See why Julie supports Goodweave/Rugmark.</a></div>
                <div class="path-holder"><a href="" class="state-path">See our newsletter archive.</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/pages/about.jade
doctype html
html
    include ../modules/base/head.jade
    title About
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 About
                            div.page-path-module
                                ul.page-list.clearfix
                                    li.active
                                        span(class="text-uppercase", class="link-path") julie
                                    li
                                        a(href="", target="", class="text-uppercase", class="link-path") custom rugs
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    p.state-text Julie Dasher, our Founder and Lead Designer, has a passion for rug design. Her evolution as a designer began as a fascination with textiles at an early age. Beginning with quilt making and the weaving arts, her interests later evolved into a love of artisan rugs and the exquisite and stunning designs that come to life in Tibetan and New Zealand wool and Chinese silk with the weavers in Nepal and India.
                                div.state-part
                                    p.state-text Julie receives her inspirations from a variety of places including nature, her extensive designer fabric collection and her children. Julie and her family adopted their daughter, Lily, from Korea and Julie's love of Asian art has grown over those years.
                                div.state-part
                                    p.state-text Formal design training from the Rhodec School in London, as well as her innate creative talents and interest in interior design as an art, have helped in her design journey. Julie's education includes a BS from the University of Virginia and an MBA and MA from Northwestern University.
                                div.path-holder
                                    a(href="", class="state-path") See why Julie supports Goodweave/Rugmark.
                                div.path-holder
                                    a(href="", class="state-path") See our newsletter archive.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")
