build/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Contacts</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1>Contact</h1>
              <div class="page-path-module tabs-module">
                <ul class="page-list clearfix">
                  <li data-tab="adress" class="active path-link"><a href="" class="text-uppercase link-path">address</a></li>
                  <li data-tab="form" class="path-link"><a href="" class="text-uppercase link-path">contact form</a></li>
                </ul>
                <div class="tab-parent">
                  <div id="adress" class="tab-content active">
                    <div class="state">
                      <div class="picture"><img src="http://www.juliedasherrugs.com/images/craftsmanchip.png" alt="" class="img-responsive"></div>
                    </div>
                    <div class="mb-20">
                      <p class="state-text">Please complete this form and let us know how we can help you.</p>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-part mb-30">
                          <h4 class="state-title">Minneapolis Showroom:</h4>
                          <p class="state-text">Julie Dasher Rugs<br>International Market Square<br>Suite 542<br>Minneapolis, MN 55405<br><a href="(612) 558-8767" target="">(612) 558-8767</a>/Attn: Jane-Marie Bloomberg</p>
                        </div>
                        <div class="contact-part mb-30">
                          <h4 class="state-title">Atlanta Showroom:</h4>
                          <p class="state-text">
                             
                            Julie Dasher Rugs/The Charles Stewart Company<br>425 Peachtree Hills Ave. NE, Suite 12<br>Atlanta, GA 30305 <br><a href="tel:678-637-4616" target="">678-637-4616</a><br>and 828-322-9464/Attn: Roe Pitts
                          </p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-part mb-30">
                          <h4 class="state-title">Montreal Showroom:</h4>
                          <p class="state-text">Tapis Lipman<br>4240 Chemin de la Cote de Liesse<br>Montreal, QC H4N 2P7, Canada<br><a href="tel:+1 514-737-5022" target="">+1 514-737-5022/Attn: Alain Lesperance</a></p>
                        </div>
                        <div class="contact-part mb-30">
                          <h4 class="state-title">Please send all business correspondence to:</h4>
                          <p class="state-text">Julie Dasher Rugs<br>11312 US Highway 15/501 Suite 107-129<br>Chapel Hill, NC 27517<br><a href="mailto:info@JulieDasherRugs.com " target="">info@JulieDasherRugs.com</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="form" class="tab-content">
                    <div class="tab-form">
                      <form id="" method="" action="">
                        <div class="form-group">
                          <label for="name">Your name</label>
                          <input type="text" id="name" placeholder="Your Name" required class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="email">Your email</label>
                          <input type="email" id="email" placeholder="Your Email" required class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="reason">Reason to contact</label>
                          <select name="reason" id="reason" class="form-control">
                            <option value="My reason to contact">My reason to contact</option>
                            <option value="My reason to contact">My reason to contact</option>
                            <option value="My reason to contact">My reason to contact</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="message">Enter your message</label>
                          <input type="text" id="message" placeholder="Enter Your Message" class="form-control">
                        </div>
                        <div class="text-right mt-30 mb-30">
                          <button type="submit" class="btn btn-sm btn-simple">Reset</button>
                          <button type="submit" class="btn btn-sm btn-submit">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/pages/contacts.jade
doctype html
html
    include ../modules/base/head.jade
    title Contacts
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Contact
                            div.page-path-module.tabs-module
                                ul.page-list.clearfix
                                    li(data-tab="adress", class="active path-link")
                                        a(href="", class="text-uppercase", class="link-path") address
                                    li(data-tab="form", class="path-link")
                                        a(href="", class="text-uppercase", class="link-path") contact form
                                div.tab-parent
                                    div(id="adress", class="tab-content active")
                                        .state
                                            .picture
                                                img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                        div.mb-20
                                            p.state-text Please complete this form and let us know how we can help you.
                                        .row
                                            .col-md-6
                                                div.contact-part.mb-30
                                                    h4.state-title Minneapolis Showroom:
                                                    p.state-text
                                                        | Julie Dasher Rugs
                                                        br
                                                        | International Market Square
                                                        br
                                                        | Suite 542
                                                        br
                                                        | Minneapolis, MN 55405
                                                        br
                                                        a(href="(612) 558-8767", target="") (612) 558-8767
                                                        |/Attn: Jane-Marie Bloomberg
                                                div.contact-part.mb-30
                                                    h4.state-title Atlanta Showroom:
                                                    p.state-text 
                                                        | Julie Dasher Rugs/The Charles Stewart Company
                                                        br
                                                        | 425 Peachtree Hills Ave. NE, Suite 12
                                                        br
                                                        | Atlanta, GA 30305 
                                                        br
                                                        a(href="tel:678-637-4616", target="") 678-637-4616
                                                        br
                                                        | and 828-322-9464/Attn: Roe Pitts
                                            .col-md-6
                                                div.contact-part.mb-30
                                                    h4.state-title Montreal Showroom:
                                                    p.state-text
                                                        | Tapis Lipman
                                                        br
                                                        | 4240 Chemin de la Cote de Liesse
                                                        br
                                                        | Montreal, QC H4N 2P7, Canada
                                                        br
                                                        a(href="tel:+1 514-737-5022", target="") +1 514-737-5022/Attn: Alain Lesperance
                                                div.contact-part.mb-30
                                                    h4.state-title Please send all business correspondence to:
                                                    p.state-text
                                                        | Julie Dasher Rugs
                                                        br
                                                        | 11312 US Highway 15/501 Suite 107-129
                                                        br
                                                        | Chapel Hill, NC 27517
                                                        br
                                                        a(href="mailto:info@JulieDasherRugs.com ", target="") info@JulieDasherRugs.com
                                    div(id="form" class="tab-content")
                                        div.tab-form
                                            form(id="", method="", action="")
                                                div.form-group
                                                    label(for="name") Your name
                                                    input(type="text", id="name", placeholder="Your Name", class="form-control", required)
                                                div.form-group
                                                    label(for="email") Your email
                                                    input(type="email", id="email", placeholder="Your Email", class="form-control", required)
                                                div.form-group
                                                    label(for="reason") Reason to contact
                                                    select(name="reason", id="reason", class="form-control")
                                                        option(value="My reason to contact") My reason to contact
                                                        option(value="My reason to contact") My reason to contact
                                                        option(value="My reason to contact") My reason to contact
                                                div.form-group
                                                    label(for="message") Enter your message
                                                    input(type="text", id="message", placeholder="Enter Your Message", class="form-control")
                                                div.text-right.mt-30.mb-30
                                                    button(type="submit", class="btn btn-sm btn-simple") Reset
                                                    button(type="submit", class="btn btn-sm btn-submit") Submit
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")
