build/craftsmanship.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Craftsmanship</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1>Craftsmanship</h1>
              <div class="state">
                <div class="picture"><img src="http://www.juliedasherrugs.com/images/craftsmanchip.png" alt="" class="img-responsive"></div>
                <div class="state-part">
                  <h3 class="state-title">The Best Wool in the World</h3>
                  <p class="state-text">JULIE DASHER RUGS features Tibetan wool rugs manufactured in Nepal. The wool used is from Himalayan sheep and is considered to be the best in the world due to its texture, strength, luster and stain-resistant properties. Our rugs last for generations.</p>
                </div>
                <div class="state-part">
                  <h3 class="state-title">Wool is a Sustainable Fiber</h3>
                  <p class="state-text">Wool is a naturally renewable resource which is harvested every other year from the Himalayan sheep.</p>
                  <p class="state-text">At the end of its life cycle, wool biodegrades into nutrients which improve soil fertility.</p>
                  <p class="state-text">Natural properties of wool in a rug can even improve indoor air quality. </p>
                </div>
                <div class="state-part">
                  <h3 class="state-title">Weaving and Dyeing</h3>
                  <p class="state-text">Highly skilled weavers hand card the wool into strands and spin it to prepare it for custom coloring. </p>
                  <p class="state-text">The dyes are 100% eco-friendly Swiss Ceiba.</p>
                </div>
                <div class="state-part">
                  <h3 class="state-title">Our Spirit of Contribution</h3>
                  <p class="state-text">JULIE DASHER RUGS is a GOODWEAVE-licensed importer and thus we donate a percentage of our profits to help the <a href="" target="" class="state-link hover-underline-none">GOODWEAVE Foundation </a>in their efforts to prevent child labor in the rug-making industry. The donation also helps the children of Nepal and India through education and other social services.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/pages/craftsmanship.jade
doctype html
html
    include ../modules/base/head.jade
    title Craftsmanship
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Craftsmanship
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    h3.state-title The Best Wool in the World
                                    p.state-text JULIE DASHER RUGS features Tibetan wool rugs manufactured in Nepal. The wool used is from Himalayan sheep and is considered to be the best in the world due to its texture, strength, luster and stain-resistant properties. Our rugs last for generations.
                                div.state-part
                                    h3.state-title Wool is a Sustainable Fiber
                                    p.state-text Wool is a naturally renewable resource which is harvested every other year from the Himalayan sheep.
                                    p.state-text At the end of its life cycle, wool biodegrades into nutrients which improve soil fertility.
                                    p.state-text Natural properties of wool in a rug can even improve indoor air quality. 
                                div.state-part
                                    h3.state-title Weaving and Dyeing
                                    p.state-text Highly skilled weavers hand card the wool into strands and spin it to prepare it for custom coloring. 
                                    p.state-text The dyes are 100% eco-friendly Swiss Ceiba.
                                div.state-part
                                    h3.state-title Our Spirit of Contribution
                                    p.state-text JULIE DASHER RUGS is a GOODWEAVE-licensed importer and thus we donate a percentage of our profits to help the 
                                        a(href="", target="", class="state-link hover-underline-none") GOODWEAVE Foundation 
                                        | in their efforts to prevent child labor in the rug-making industry. The donation also helps the children of Nepal and India through education and other social services.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")
