build/custom-colors.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Custom colors</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1>Simple Suzanni Lilac</h1>
              <div class="row">
                <div class="col-md-6">
                  <div class="rug-block mb-30"><img src="images/items/original/item-1.jpg" alt="" class="img-responsive"></div>
                  <div class="rub-buttons text-center"><a href="" class="btn btn-lg btn-primary btn-half btn-xs-icon btn-single"><i class="icon-estimate">$</i><span>Estimate</span></a><a href="" class="btn btn-lg btn-primary btn-half btn-xs-icon btn-single"><i class="icon-cart"></i><span>Purchase Order</span></a><a href="" class="btn btn-user btn-lg btn-xs-icon btn-single mr-15"><i class="icon-reset"></i><span>Reset</span></a><a href="" class="btn btn-user btn-lg btn-xs-icon btn-single"><i class="icon-save"></i><span>Save</span></a><a href="" class="btn btn-user btn-lg btn-xs-icon btn-single hidden-xs hidden-sm btn-print"><i class="icon"></i><span>Print</span></a></div>
                </div>
                <div class="col-md-6">
                  <div class="color-picker">
                    <div role="button" class="current-color">
                      <div data-color="brown" class="color-preview"></div><span class="color-name text-uppercase">TCW-090</span><i class="icon-row"></i>
                    </div>
                    <ul class="color-list clearfix">
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                    </ul>
                  </div>
                  <div class="color-picker">
                    <div role="button" class="current-color"><i data-color="gold" class="color-preview"></i><span class="color-name text-uppercase">TCW-091</span><i class="icon-row"></i></div>
                    <ul class="color-list clearfix">
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                    </ul>
                  </div>
                  <div class="color-picker">
                    <div role="button" class="current-color"><i data-color="red" class="color-preview"></i><span class="color-name text-uppercase">TCW-050</span><i class="icon-row"></i></div>
                    <ul class="color-list clearfix">
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                    </ul>
                  </div>
                  <div class="color-picker">
                    <div role="button" class="current-color"><i data-color="white" class="color-preview"></i><span class="color-name text-uppercase">TCW-025</span><i class="icon-row"></i></div>
                    <ul class="color-list clearfix">
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                      <li><span data-color="brown" data-name="TCW-050"></span></li>
                      <li><span data-color="red" data-name="TCW-051"></span></li>
                      <li><span data-color="white" data-name="TCW-052"></span></li>
                      <li><span data-color="green" data-name="TCW-025"></span></li>
                      <li><span data-color="blue" data-name="TCW-024"></span></li>
                      <li><span data-color="pink" data-name="TCW-026"></span></li>
                      <li><span data-color="gray" data-name="TCW-027"></span></li>
                      <li><span data-color="black" data-name="TCW-028"></span></li>
                      <li><span data-color="purple" data-name="TCW-028"></span></li>
                      <li><span data-color="gold" data-name="TCW-029"></span></li>
                      <li><span data-color="silver" data-name="RPC-310"></span></li>
                      <li><span data-color="silver" data-name="RPC-311"></span></li>
                      <li><span data-color="yellow" data-name="RPC-312"></span></li>
                      <li><span data-color="dark-blue" data-name="RPC-313"></span></li>
                      <li><span data-color="light-yellow" data-name="RPC-314"></span></li>
                      <li><span data-color="dark-green" data-name="RPC-315"></span></li>
                      <li><span data-color="heavy-brown" data-name="RPC-316"></span></li>
                      <li><span data-color="light-pink" data-name="NWC-859"></span></li>
                      <li><span data-color="aqua" data-name="NWC-860"></span></li>
                      <li><span data-color="aqua-light" data-name="NWC-861"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="hint mb-20">
                <p>If you need a professional colored rendering in your size and color, please contuctus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/pages/custom-colors.jade
doctype html
html
    include ../modules/base/head.jade
    title Custom colors
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Simple Suzanni Lilac
                            div.row
                                div.col-md-6
                                    div.rug-block.mb-30
                                        img(src="images/items/original/item-1.jpg", alt="", class="img-responsive")
                                    div.rub-buttons.text-center
                                        a(href="", class="btn btn-lg btn-primary btn-half btn-xs-icon btn-single")
                                            i.icon-estimate $
                                            span Estimate
                                        a(href="", class="btn btn-lg btn-primary btn-half btn-xs-icon btn-single")
                                            i.icon-cart
                                            span Purchase Order
                                        a(href="", class="btn btn-user btn-lg btn-xs-icon btn-single mr-15")
                                            i.icon-reset
                                            span Reset
                                        a(href="", class="btn btn-user btn-lg btn-xs-icon btn-single")
                                            i.icon-save
                                            span Save
                                        a(href="", class="btn btn-user btn-lg btn-xs-icon btn-single hidden-xs hidden-sm btn-print")
                                            i.icon
                                            span Print
                                div.col-md-6
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            div(class="color-preview", data-color="brown")
                                            span.color-name.text-uppercase TCW-090
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            i(class="color-preview", data-color="gold")
                                            span.color-name.text-uppercase TCW-091
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            i(class="color-preview", data-color="red")
                                            span.color-name.text-uppercase TCW-050
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            i(class="color-preview", data-color="white")
                                            span.color-name.text-uppercase TCW-025
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                            div.hint.mb-20
                                p If you need a professional colored rendering in your size and color, please contuctus.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")
