app/templates/pages/custom-rugs.jade
doctype html
html
    include ../modules/base/head.jade
    title Custom Rugs
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 About
                            div.page-path-module
                                ul.page-list.clearfix
                                    li.active
                                        a(href="", class="text-uppercase", class="link-path") julie
                                    li
                                        span(class="text-uppercase", class="link-path") custom rugs
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    p.state-text Our custom-made rugs can be made in virtually any size and color. Rugs are hand-knotted in 60, 80, 100 or 150 knots per square inch with the higher knot counts being more durable and incrementally more time consuming to weave.
                                div.state-part
                                    p.state-text Detailed weaving requires skill and attention with a 9 X 12 foot hand-knotted rug often representing 1500 hours of labor and containing more than 1 million knots. Most hand-knotted rugs can be completed and delivered within 3 months, half the lead time of the industry. Lead time for flatweave rugs is 8 - 10 weeks.
                                div.state-part
                                    p.state-text We can provide pictures of each rug on the loom during the weaving process. Strike-offs are available for a nominal fee. Wool and silk poms are available for loan to designers nationwide.
                                div.state-part
                                    p.state-text Use our designs or indulge your own creativity and create your very own unique rug.
                                div.guide-download
                                    a(href="http://www.juliedasherrugs.com/Cleaning_guide_Julie_Dasher_Rugs.pdf", target="", class="td-none") 
                                        i.icon-save
                                        | Download rug cleaning guide.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")

build/custom-rugs.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Custom Rugs</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1>About</h1>
              <div class="page-path-module">
                <ul class="page-list clearfix">
                  <li class="active"><a href="" class="text-uppercase link-path">julie</a></li>
                  <li><span class="text-uppercase link-path">custom rugs</span></li>
                </ul>
              </div>
              <div class="state">
                <div class="picture"><img src="http://www.juliedasherrugs.com/images/craftsmanchip.png" alt="" class="img-responsive"></div>
                <div class="state-part">
                  <p class="state-text">Our custom-made rugs can be made in virtually any size and color. Rugs are hand-knotted in 60, 80, 100 or 150 knots per square inch with the higher knot counts being more durable and incrementally more time consuming to weave.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">Detailed weaving requires skill and attention with a 9 X 12 foot hand-knotted rug often representing 1500 hours of labor and containing more than 1 million knots. Most hand-knotted rugs can be completed and delivered within 3 months, half the lead time of the industry. Lead time for flatweave rugs is 8 - 10 weeks.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">We can provide pictures of each rug on the loom during the weaving process. Strike-offs are available for a nominal fee. Wool and silk poms are available for loan to designers nationwide.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">Use our designs or indulge your own creativity and create your very own unique rug.</p>
                </div>
                <div class="guide-download"><a href="http://www.juliedasherrugs.com/Cleaning_guide_Julie_Dasher_Rugs.pdf" target="" class="td-none"> <i class="icon-save"></i>Download rug cleaning guide.</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
