app/templates/pages/information.jade
doctype html
html
    include ../modules/base/head.jade
    title Information
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1.pull-left Simple Suzanni Lilac
                            include ../modules/components/product-controls.jade
                            .clear
                            .b_goods.row
                                .col-md-6.col-sm-6
                                    .goods-section.clearfix.mb-30
                                        .goods-main-picture
                                            img(src="images/items/original/item-1.jpg", alt="")
                                        .goods-section-preview
                                            a(href="", target="", class="section-item")
                                                img(src="images/items/original/item-2.jpg", alt="", class="img-responsive")
                                            a(href="", target="", class="section-item")
                                                img(src="images/items/original/item-3.jpg", alt="", class="img-responsive")
                                            a(href="", target="", class="section-item")
                                                img(src="images/items/original/item-4.jpg", alt="", class="img-responsive")
                                    .section-buttons.clearfix.mb-40
                                        a(href="", class="col-md-12 btn btn-link btn-lg td-none mb-30") Custom color
                                        .clear
                                        a(href="", class="col-md-6 btn btn-link btn-lg td-none pull-left action-btn") Save
                                        a(href="", class="col-md-6 btn btn-link btn-lg td-none pull-right action-btn hidden-xs hidden-sm btn-print") Print
                                .col-md-6.col-sm-6
                                    h4.text-uppercase fiber options:
                                    ul.marked-list
                                        li
                                            p wool
                                        li
                                            p wool and silk
                                        li
                                            p hemp
                                    h4.text-uppercase shown here in:
                                    ul.marked-list
                                        li
                                            p all Tibetian wool
                                        li
                                            p cut pile
                                    h4.text-uppercase construction options:
                                    ul.marked-list
                                        li
                                            p hand-knotted
                                        li
                                            p hand-futted
                                        li
                                            p cut, loop of lockweave pile
                                    h4.text-uppercase size options:
                                    ul.marked-list
                                        li
                                            p all rugs are custom sized
                                    h4.text-uppercase color options:
                                    ul.marked-list
                                        li
                                            p over 900 colors available
                                        li
                                            p custom colors for no upchanrge
                                        li
                                            p abrash/striation for no upchanrge
                                        li
                                            p up to 6 colors for no upchanrge
            //- footer
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")

build/information.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Information</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1 class="pull-left">Simple Suzanni Lilac</h1>
              <div class="product-controls pull-right">
                <div class="button-wrap">
                  <button type="submit" value="Borrowed" class="btn-control btn-borrowed">Borrowed</button>
                </div>
                <div class="button-wrap"><a href="" target="" class="btn btn-xs btn-control ctrl__information td-none">$</a></div>
                <div class="button-wrap"><a href="" target="" class="btn btn-xs btn-control ctrl__share td-none icon-share"></a>
                  <div class="control-modal"><a href="" target="" class="share facebook td-none"><i class="icon-facebook"></i><span>facebook</span></a><a href="" target="" class="share twitter td-none"><i class="icon-twitter"></i><span>twitter</span></a><a href="" target="" class="share gplus td-none"><i class="icon-google"></i><span>google +</span></a></div>
                </div>
                <div class="button-wrap"><a href="" target="" class="btn btn-xs btn-control ctrl__like td-none icon-like"></a></div>
              </div>
              <div class="clear"></div>
              <div class="b_goods row">
                <div class="col-md-6 col-sm-6">
                  <div class="goods-section clearfix mb-30">
                    <div class="goods-main-picture"><img src="images/items/original/item-1.jpg" alt=""></div>
                    <div class="goods-section-preview"><a href="" target="" class="section-item"><img src="images/items/original/item-2.jpg" alt="" class="img-responsive"></a><a href="" target="" class="section-item"><img src="images/items/original/item-3.jpg" alt="" class="img-responsive"></a><a href="" target="" class="section-item"><img src="images/items/original/item-4.jpg" alt="" class="img-responsive"></a></div>
                  </div>
                  <div class="section-buttons clearfix mb-40"><a href="" class="col-md-12 btn btn-link btn-lg td-none mb-30">Custom color</a>
                    <div class="clear"></div><a href="" class="col-md-6 btn btn-link btn-lg td-none pull-left action-btn">Save</a><a href="" class="col-md-6 btn btn-link btn-lg td-none pull-right action-btn hidden-xs hidden-sm btn-print">Print</a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h4 class="text-uppercase">fiber options:</h4>
                  <ul class="marked-list">
                    <li>
                      <p>wool</p>
                    </li>
                    <li>
                      <p>wool and silk</p>
                    </li>
                    <li>
                      <p>hemp</p>
                    </li>
                  </ul>
                  <h4 class="text-uppercase">shown here in:</h4>
                  <ul class="marked-list">
                    <li>
                      <p>all Tibetian wool</p>
                    </li>
                    <li>
                      <p>cut pile</p>
                    </li>
                  </ul>
                  <h4 class="text-uppercase">construction options:</h4>
                  <ul class="marked-list">
                    <li>
                      <p>hand-knotted</p>
                    </li>
                    <li>
                      <p>hand-futted</p>
                    </li>
                    <li>
                      <p>cut, loop of lockweave pile</p>
                    </li>
                  </ul>
                  <h4 class="text-uppercase">size options:</h4>
                  <ul class="marked-list">
                    <li>
                      <p>all rugs are custom sized</p>
                    </li>
                  </ul>
                  <h4 class="text-uppercase">color options:</h4>
                  <ul class="marked-list">
                    <li>
                      <p>over 900 colors available</p>
                    </li>
                    <li>
                      <p>custom colors for no upchanrge</p>
                    </li>
                    <li>
                      <p>abrash/striation for no upchanrge</p>
                    </li>
                    <li>
                      <p>up to 6 colors for no upchanrge</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
