app/templates/pages/newsletters.jade
doctype html
html
    include ../modules/base/head.jade
    title Newsletters
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Newsletters
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                            .row
                                .col-md-6
                                    h3.mb-30.main-color Newsletters archive
                                    h5.mb-30.main-color * Required fields
                                    form(id="", method="", action="")
                                        div.form-group
                                            label(for="name") Your name*
                                            input(type="text", id="name", placeholder="Your Name*", class="form-control", required)
                                        div.form-group
                                            label(for="lastname") Your last name*
                                            input(type="text", id="lastname", placeholder="Last Name*", class="form-control", required)
                                        div.form-group
                                            label(for="reason") Reason to contact
                                            select(name="reason", id="reason", class="form-control")
                                                option(value="My reason to contact") My reason to contact
                                                option(value="My reason to contact") My reason to contact
                                                option(value="My reason to contact") My reason to contact
                                        div.form-group
                                            label(for="message") Enter your message
                                            input(type="text", id="message", placeholder="Enter Your Message", class="form-control")
                                        div.text-right.mt-30.mb-30
                                            button(type="submit", class="btn btn-sm btn-simple") Sing up
                                            button(type="submit", class="btn btn-sm btn-submit") Submit
                                .col-md-6
                                    h3.mb-30.main-color E-newsletters
                                    div.mb-30
                                        a(href="", class="simple-link") Turkish Rugs Ready for Overdye
                                        .clear
                                        a(href="", class="simple-link") Furniture Upholstered in Turkish Overdyed Rugs
                                        .clear
                                        a(href="", class="simple-link") Custom Rug for ASID Showcase Home
                                        .clear
                                        a(href="", class="simple-link") Turkish Rug Treasures Recolored for Today's Interiors
                                        .clear
                                        a(href="", class="simple-link") Filling Your Creative Well
                                        .clear
                                        a(href="", class="simple-link") Are You Wondering How the "New" Economy Will Affect Your Client's Purchasing Behavior?
                                        .clear
                                        a(href="", class="simple-link") Do Your Clients Want More Value?
                                        .clear
                                        a(href="", class="simple-link") Introducing Our Hand-Tufted Rug Collection in 100% New Zealand Wool
                                        .clear
                                        a(href="", class="simple-link") Beware of "Faux" Fibers
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")

build/newsletters.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Newsletters</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1>Newsletters</h1>
              <div class="state">
                <div class="picture"><img src="http://www.juliedasherrugs.com/images/craftsmanchip.png" alt="" class="img-responsive"></div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="mb-30 main-color">Newsletters archive</h3>
                  <h5 class="mb-30 main-color">* Required fields</h5>
                  <form id="" method="" action="">
                    <div class="form-group">
                      <label for="name">Your name*</label>
                      <input type="text" id="name" placeholder="Your Name*" required class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="lastname">Your last name*</label>
                      <input type="text" id="lastname" placeholder="Last Name*" required class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="reason">Reason to contact</label>
                      <select name="reason" id="reason" class="form-control">
                        <option value="My reason to contact">My reason to contact</option>
                        <option value="My reason to contact">My reason to contact</option>
                        <option value="My reason to contact">My reason to contact</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="message">Enter your message</label>
                      <input type="text" id="message" placeholder="Enter Your Message" class="form-control">
                    </div>
                    <div class="text-right mt-30 mb-30">
                      <button type="submit" class="btn btn-sm btn-simple">Sing up</button>
                      <button type="submit" class="btn btn-sm btn-submit">Submit</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-30 main-color">E-newsletters</h3>
                  <div class="mb-30"><a href="" class="simple-link">Turkish Rugs Ready for Overdye</a>
                    <div class="clear"></div><a href="" class="simple-link">Furniture Upholstered in Turkish Overdyed Rugs</a>
                    <div class="clear"></div><a href="" class="simple-link">Custom Rug for ASID Showcase Home</a>
                    <div class="clear"></div><a href="" class="simple-link">Turkish Rug Treasures Recolored for Today's Interiors</a>
                    <div class="clear"></div><a href="" class="simple-link">Filling Your Creative Well</a>
                    <div class="clear"></div><a href="" class="simple-link">Are You Wondering How the "New" Economy Will Affect Your Client's Purchasing Behavior?</a>
                    <div class="clear"></div><a href="" class="simple-link">Do Your Clients Want More Value?</a>
                    <div class="clear"></div><a href="" class="simple-link">Introducing Our Hand-Tufted Rug Collection in 100% New Zealand Wool</a>
                    <div class="clear"></div><a href="" class="simple-link">Beware of "Faux" Fibers</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
