build/pricing.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <title>Pricing</title>
  <body>
    <div class="wrapper">
      <header>
        <div class="gradient-wrapper">
          <div class="b_gradient"></div>
        </div>
        <div class="container">
          <div class="header-main clearfix mt-30 mb-30">
            <div role="button" class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation">
              <div class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line"></span></div><span class="menu_word text-uppercase">menu</span>
            </div><a href="home.html" target="" role="header-logo" tittle="http://www.juliedasherrugs.com/" alt="http://www.juliedasherrugs.com/" class="logo"><img src="http://www.juliedasherrugs.com/images/logo.png" alt="" class="img-responsive"></a>
            <div class="user-controls pull-right"><a href="" target="" class="text-uppercase user-btn"> <i class="icon-user"></i><span>login/register</span></a><a href="" target="" class="text-uppercase user-btn user-trigger --search"><i class="icon-search"></i><span>search</span></a></div>
          </div>
        </div>
        <div class="site-map dc-wrap b_navigation">
          <div class="container">
            <nav role="navigation" class="navigation">
              <ul>
                <li class="active"><a href="" target="" class="text-uppercase td-none">home</a></li>
                <li><a href="" target="" class="text-uppercase td-none">rug gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">video gallery</a></li>
                <li><a href="" target="" class="text-uppercase td-none">craftsmanship</a></li>
                <li><a href="" target="" class="text-uppercase td-none">pricing</a></li>
                <li><a href="" target="" class="text-uppercase td-none">about</a></li>
                <li><a href="" target="" class="text-uppercase td-none">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="b_search dc-wrap">
          <div class="container">
            <div id="search">
              <form id="" method="" action="" class="clearfix">
                <button type="submit" class="icon-search"></button>
                <div class="search-wrap">
                  <input type="search" placeholder="By color, style or design name" autocomplete="on" class="main-search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="content-border">
            <div class="inner-content">
              <h1 class="pull-left">Pricing</h1>
              <div class="sale-module pull-right"><i class="icon-sale"></i><a href="" target="">Wholesale pricing available to the trade</a></div>
              <div class="clear"></div>
              <div class="state">
                <div class="picture"><img src="http://www.juliedasherrugs.com/images/craftsmanchip.png" alt="" class="img-responsive"></div>
                <div class="state-part">
                  <p class="state-text">Julie Dasher Rugs sells exclusively to the interior design trade. If you would like to purchase a rug on a retail basis and are not currently working with an interior designer, please contact us and we can provide a referral for you. Price is based on knot count, size and wool/silk content in the rug. Rugs are made with Tibetan wool or New Zealand wool. Silk can be added in any amount to give the rug a beautiful elegance and sheen.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">The process of creating a custom rug is simple. Pick a pattern, size and colors. Colors can be specified via a paint deck whereby we can send you yarn samples. Order a strike off (1' X 1' or 2' X 2' sample). Once the sample has been approved, order the rug. See a picture of the rug being woven on the loom. Receive your beautiful rug.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">As these rugs are made custom to your specifications, there are no returns. We require a payment of 60% of the price of the rug when the order is placed and the remaining 40% when the rug is shipped from Nepal. As with any handcrafted product, the dimensions specified may vary slightly.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">High-quality rug pads are available for an additional charge.</p>
                </div>
                <div class="state-part">
                  <p class="state-text">Wholesale pricing available to the trade.</p>
                  <p class="state-text"> <a href="" target="" class="state-link hover-underline-none">Contact us for more details.</a></p>
                </div>
                <div class="state-part">
                  <h3 class="state-title">Shipping</h3>
                  <p class="state-text">Shipping is $200 per rug to the mainland U.S. for rugs up to 9 X 12 feet.</p>
                  <p class="state-text">Please inquire about shipping costs for larger rugs or to other locations.</p>
                </div>
                <div class="state-part">
                  <h3 class="state-title">JULIE DASHER RUGS</h3>
                  <p class="state-text"><a href="tel:612-558-8767" target="" class="state-link hover-underline-none">612-558-8767</a></p>
                  <p class="state-text"><a href="mailto:info@juliedasherrugs.com" target="" class="state-link hover-underline-none">info@juliedasherrugs.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="b_texture mt-30 mb-30">
          </div>
        </div>
        <div class="b_social pt-30 pb-30 bt bb">
          <div role="slider-wrapper">
            <ul class="social-list clearfix">
              <li><a href="https://www.facebook.com/JulieDasherRugs" target="" class="td-none facebook icon-facebook"></a></li>
              <li><a href="https://twitter.com/rugdesigner" target="" class="td-none twitter icon-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/juliedasher" target="" class="td-none linkedin icon-linkedin"></a></li>
              <li><a href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts" target="" class="td-none gplus icon-google"></a></li>
              <li><a href="http://designingrugs.blogspot.com/" target="" class="td-none blogspot icon-blogspot"></a></li>
              <li><a href="http://www.asidmn.org/" target="" class="td-none asidmn icon-asidmn"></a></li>
              <li><a href="http://www.goodweave.org/spotlight_det.php?cid=88&amp;interview_id=87" target="" class="td-none goodweave icon-goodweave"></a></li>
              <li><a href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs" target="" class="td-none houzz icon-houzz"></a></li>
            </ul>
          </div>
        </div>
        <div class="b_copyright pt-30 pb-30 text-center">
          <p class="m-0">© 2008 All rights Reserved. Rug photography by <a href="http://www.stevesilvermanimaging.com/" target="">Steve Silverman imaging.</a></p>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/pages/pricing.jade
doctype html
html
    include ../modules/base/head.jade
    title Pricing
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1.pull-left Pricing
                            div.sale-module.pull-right
                                i.icon-sale
                                a(href="", target="") Wholesale pricing available to the trade
                            .clear
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    p.state-text Julie Dasher Rugs sells exclusively to the interior design trade. If you would like to purchase a rug on a retail basis and are not currently working with an interior designer, please contact us and we can provide a referral for you. Price is based on knot count, size and wool/silk content in the rug. Rugs are made with Tibetan wool or New Zealand wool. Silk can be added in any amount to give the rug a beautiful elegance and sheen.
                                div.state-part
                                    p.state-text The process of creating a custom rug is simple. Pick a pattern, size and colors. Colors can be specified via a paint deck whereby we can send you yarn samples. Order a strike off (1' X 1' or 2' X 2' sample). Once the sample has been approved, order the rug. See a picture of the rug being woven on the loom. Receive your beautiful rug.
                                div.state-part
                                    p.state-text As these rugs are made custom to your specifications, there are no returns. We require a payment of 60% of the price of the rug when the order is placed and the remaining 40% when the rug is shipped from Nepal. As with any handcrafted product, the dimensions specified may vary slightly.
                                div.state-part
                                    p.state-text High-quality rug pads are available for an additional charge.
                                div.state-part
                                    p.state-text Wholesale pricing available to the trade.
                                    p.state-text 
                                        a(href="", target="", class="state-link hover-underline-none") Contact us for more details.
                                div.state-part
                                    h3.state-title Shipping
                                    p.state-text Shipping is $200 per rug to the mainland U.S. for rugs up to 9 X 12 feet.
                                    p.state-text Please inquire about shipping costs for larger rugs or to other locations.
                                div.state-part
                                    h3.state-title JULIE DASHER RUGS
                                    p.state-text
                                        a(href="tel:612-558-8767", target="",class="state-link hover-underline-none") 612-558-8767
                                    p.state-text
                                        a(href="mailto:info@juliedasherrugs.com", target="",class="state-link hover-underline-none") info@juliedasherrugs.com
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")
